### *Loading Transformed car_sales_Records*

### *Section 1:Load Setup â€“ Import libraries*

In [96]:
## This code is part of a Jupyter Notebook and is used to load transformed data into a DataFrame.
import pandas as pd

#### *Define Paths*

In [97]:
# Load full CSV and save as Parquet
full_csv_path = "05_out_put_Tranformation/transformed_full.csv"

# Define the path where the full dataset will be saved in Parquet format
full_parquet_path = "loaded_data/full_data.parquet"

In [98]:
# Load incremental CSV and save as Parquet
incremental_csv_path = "05_out_put_Tranformation/transformed_incremental.csv"

# Define the path where the incremental dataset will be saved in Parquet format
incremental_parquet_path = "loaded_data/incremental_data.parquet"

#### *Section 2: Load Full Transformed Data and Save as Parquet*

In [99]:
# Reading the CSV file named 'transformed_full.csv' into a DataFrame
full_df = pd.read_csv(full_csv_path)

# Save the DataFrame as a Parquet file
full_df.to_parquet(full_parquet_path, index=False)

### *Section 3: Load Incremental Transformed Data and save as Parquet*

In [100]:
# Reading the CSV file named 'transformed_incremental.csv' into a DataFrame
incremental_df = pd.read_csv(incremental_csv_path)

# Save the DataFrame as a Parquet file
incremental_df.to_parquet(incremental_parquet_path, index=False)

### *Section 4: Verification*

#### *Full_data*

In [101]:
# Load the saved full_data.parquet file into a DataFrame
full_parquet_df = pd.read_parquet('loaded_data/full_data.parquet')
# Display the first 5 rows of the full dataset
full_parquet_df.head()

,sales_id,customer,date,car_make,car_model,year,mileage,price,payment_type,last_updated,mileage_bin,vehicle_age
0,1,Enterprise Holdings,2025-04-02,Chevrolet,Cruze,2016,37796.0,6617,Loan,2025-04-02T11:32:00,Medium,9
1,2,Sonic Automotive,2025-04-02,Chevrolet,Malibu,2015,59473.0,17082,Cash,2025-04-02T23:36:00,Medium,10
2,3,AutoNation,2025-04-02,Hyundai,Tucson,2022,107555.0,13465,Loan,2025-04-02T02:47:00,Very High,3
3,4,AutoNation,2025-04-03,Hyundai,Elantra,2017,51594.0,6869,Unknown,2025-04-03T07:22:00,Medium,8
4,5,Enterprise Holdings,2025-04-03,Chevrolet,Cruze,2015,101145.0,17529,Loan,2025-04-03T20:08:00,Very High,10

#### *Incremental_data*

In [102]:
# Load the saved incremental_data.parquet file into a DataFrame
incremental_parquet_df = pd.read_parquet('loaded_data/incremental_data.parquet')

# Display the first 5 rows of the incremental dataset
incremental_parquet_df.head()

,sales_id,customer,date,car_make,car_model,year,mileage,price,payment_type,last_updated,mileage_bin,vehicle_age
0,1,Manheim,2025-04-20,Ford,Fusion,2023,57157.0,13421,Cash,2025-04-20 14:23:00,Medium,2
1,2,Avis Budget Group,2025-04-20,Hyundai,Tucson,2018,55113.0,12624,Credit,2025-04-20 18:40:00,Medium,7
2,3,Penske Automotive,2025-04-21,Hyundai,Santa Fe,2020,84985.0,14915,Cash,2025-04-21 11:25:00,High,5
3,4,Copart,2025-04-21,Ford,Escape,2023,13990.0,21063,Loan,2025-04-21 13:47:00,Low,2
4,5,Manheim,2025-04-21,Honda,CR-V,2018,NaN,6215,Cash,2025-04-21 18:16:00,None,7